
@using MyBlog.Models.Classes
@model List<Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>

<br />

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>BASLIK</th>
        <th>SIL</th>
        <th>GUNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach(var x in Model) {
<tr>
    <td>@x.Id</td>
    <td>@x.Baslik</td>
    <td><a href="/Admin/DeleteBlog/@x.Id" class="btn btn-danger">Sil</a></td>
    <td><a href="/Admin/BlogGet/@x.Id" class="btn btn-warning">Guncelle</a></td>
    <td><a href="#" class="btn btn-default">Detaylar</a></td>
</tr>
    }
</table>    

<a href="/Admin/NewBlog/" class="btn btn-primary">Yeni Blog</a>

