
<div class="content-form">
    <h3>Yorumlarınız Bekliyorum</h3>
    <form method="post">
        <input  placeholder="ID" name="Blogid"  value="@ViewBag.value" required type="hidden" />
        <input type="text" placeholder="İsim" name="UserName" required />
        <input type="text" placeholder="Email" name="Mail" required />
        <textarea placeholder="Comments" name="Comments"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>
